main {
    margin: 0 auto;
    width: 100%;
    max-width: 950px;
}

.tab-buttons {
    display: flex;
    gap: 6px;
}

.tab-btn {
    width: 100%;
    border: none;
    color: white;
    background-color: #05513D;
    border-radius: 8px 8px 0px 0px;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.tab-btn.active {
    background-color: white;
    color: #05513D;
}

.tab-btn:hover {
    background-color: #7cbf9f;
}

.content {
    display: none;
}

.content.show {
    display: flex;
    gap: 14px;

    border-radius: 0px 0px 8px 8px;
    padding: 16px;
}

.content-img {
    width: 50%;
    height: 250px;
}

.container {
    padding: 2%;
    font-size: 24px;
    margin-top: 2%;
    color: rgb(39, 66, 53);
    background-color: #05513D;
}

.ingressos {
    background-color: white;
    font-size: 15px;
    border-radius: 13px;
    padding: 2%;
    color: #05513D;
    margin: 2%;
}

.atracoes {
    background-color: white;
    font-size: 15px;
    border-radius: 0px 0px 15px 15px;
    padding: 2%;
    color: #05513D;
}

.fotoTab {
    height: 15vh;
    width: 15vw;
    margin:auto;
}

.fotoTrilha {
    height: 15vh;
    width: 15vw;;
    margin:auto;
}

p {
    text-align: justify;
}

ul {
    text-align: justify;
}