form {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    margin: 1.25rem auto;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.62rem rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 0.313rem;
    font-weight: bold;
    color: #05513D;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="date"] {
    width: 36%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form .contato {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    display: block;
}

form button:hover {
    background-color: #45a049;
}

.fundo{
    background-image: url('/assets/fundo/fundolight.png'); 
    background-size: cover;
    width: 100%;
}