
footer{
    background: #05513D;
    height: 9.375rem;
    color: white;
    padding-left: 3%;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

@media screen and (min-width: 0){
    footer{
        height: 15.5rem;
    }
}

@media screen and (min-width: 370){
    footer{
        height: 12rem;
    }
}

@media screen and (min-width: 480px){
    footer{
        margin-top: 2.75rem;
        height: 9.375rem;
    }
}

@media screen and (min-width: 768px){
    footer{
        margin-top: 1rem;
    }
}

@media screen and (min-width: 820px){
    footer{
        margin-top: 6.7rem;
    }
}

@media screen and (min-width: 850px){
    footer{
        margin-top: 12.6rem;
    }
}

@media screen and (min-width: 910px){
    footer{
        margin-top: 17.5rem;
    }
}

@media screen and (min-width: 1024px){
    footer{
        margin-top: 16.6rem;
    }
}

@media screen and (min-width: 1024px) and (max-height: 600px){
    footer{
        margin-top: 1.2rem;
    }
}

@media screen and (min-width: 1280px){
    footer{
        margin-top: 0;
    }
}