<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicons/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/Sobre.css">
    <link rel="stylesheet" href="/css/HeaderS.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>TurisTerê</title>
</head>
<body style="background-image: url(/assets/sobre/beckblack.png); background-size: cover;">
    <header class="cabecalho">
        <div class="barrinhaVerde"></div>
        <nav class="navibar">
            <a href="/templates/Inicio.html" class="opcoes">INÍCIO</a>
            <a href="/templates/Atrativos.html" class="opcoes">ATRATIVOS</a>
            <a href="/templates/Localizacao.html" class="opcoes">LOCALIZAÇÃO</a>
            <a href="/templates/Sobre.html" class="opcoes">SOBRE NÓS</a>
        </nav>
    </header>
    <main>
        <h2 class="textoPrincipal">Projeto Front-End - Grupo 3</br>SERRATEC Desenvolvimento FullStack</h2>
        <div class="container">
            <div class="perfil">
                <div class="gitPerfil">
                    <img id="fotodeperfil1" src="/assets/sobre/yt2.jpg" alt="foto de perfil do git" height="50px" style="float: left; margin-right: 10px; border-radius: 50%;">
                    emanuel-frs/
                    <strong>Emanuel F.</strong>
                </div>
                <div class="perfilLido">
                    <strong>Programador: </strong>
                    Sênior<br>
                    <strong>Idade:</strong> 19 anos
                    <strong>Linguagem: </strong> JavaScript
                </div>
                <a href="" class="linkGit"><img src="/assets/sobre/githublogbranca.png" alt="" style="height: 30px; margin-right: 6px;">Github</a>
            </div>
            <div class="perfil">
                <div class="gitPerfil">
                    <img id="fotodeperfil2" src="/assets/sobre/perfilGustavo.jpeg" alt="foto de perfil do git" height="50px" style="float: left; margin-right: 10px; border-radius: 50%;">
                    pinheir0g/
                    <strong>Gustavo P.</strong>
                </div>
                <div class="perfilLido">
                    <strong>Programador: </strong>
                    Sênior<br>
                    <strong>Idade:</strong> 25 anos
                    <strong>Linguagem: </strong> Java
                </div>
                <a href="" class="linkGit"><img src="/assets/sobre/githublogbranca.png" alt="" style="height: 30px; margin-right: 6px;">Github</a>
            </div>
            <div class="perfil">
                <div class="gitPerfil">
                    <img id="fotodeperfil1" src="/assets/sobre/perfilNicolle.jpeg" alt="foto de perfil do git" height="50px" style="float: left; margin-right: 10px; border-radius: 50%;">
                    nimellodev/
                    <strong>Nicolle M.</strong>
                </div>
                <div class="perfilLido">
                    <strong>Programadora: </strong>
                    Sênior<br>
                    <strong>Idade:</strong> 27 anos
                    <strong>Linguagem: </strong> Delphi
                </div>
                <a href="" class="linkGit"><img src="/assets/sobre/githublogbranca.png" alt="" style="height: 30px; margin-right: 6px;">Github</a>
            </div>
            <div class="perfil">
                <div class="gitPerfil">
                    <img id="fotodeperfil1" src="/assets/sobre/perfilJoaoM.png" alt="foto de perfil do git" height="50px" style="float: left; margin-right: 10px; border-radius: 50%;">
                    JoaoMOA2024/
                    <strong>João M.</strong>
                </div>
                <div class="perfilLido">
                    <strong>Programador: </strong>
                    Sênior<br>
                    <strong>Idade:</strong> 42 anos
                    <strong>Linguagem: </strong> JavaScript
                </div>
                <a href="" class="linkGit"><img src="/assets/sobre/githublogbranca.png" alt="" style="height: 30px; margin-right: 6px;">Github</a>
            </div>
            <div class="perfil">
                <div class="gitPerfil">
                    <img id="fotodeperfil2" src="/assets/sobre/perfilBruno.jpeg" alt="foto de perfil do git" height="50px" style="float: left; margin-right: 10px; border-radius: 50%;">
                    brunojacomelli/
                    <strong>Bruno J.</strong>
                </div>
                <div class="perfilLido">
                    <strong>Programador: </strong>
                    Sênior<br>
                    <strong>Idade:</strong> 24 anos
                    <strong>Linguagem: </strong> Portugol
                </div>
                <a href="" class="linkGit"><img src="/assets/sobre/githublogbranca.png" alt="" style="height: 30px; margin-right: 6px;">Github</a>
            </div>
            <div class="perfil">
                <div class="gitPerfil">
                    <img id="fotodeperfil1" src="/assets/sobre/perfilNicolle.jpeg" alt="foto de perfil do git" height="50px" style="float: left; margin-right: 10px; border-radius: 50%;">
                    nimellodev/
                    <strong>Nicolle M.</strong>
                </div>
                <div class="perfilLido">
                    <strong>Programador: </strong>
                    Sênior<br>
                    <strong>Idade:</strong> 19 anos
                    <strong>Linguagem: </strong> JavaScript
                </div>
                <a href="" class="linkGit"><img src="/assets/sobre/githublogbranca.png" alt="" style="height: 30px; margin-right: 6px;">Github</a>
            </div>
        </div>
    </main>
</body>
</html>